.banner__item {
    align-items: center;
    background-color: #ffff;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px;
}

.item__price {
    font-size: var(--sm);
    color: var(--dark-blue);
}

.item__button {
    align-items: center;
    align-self: center;
    background-color: var(--dark-blue);
    border: 1px solid var(--ligth-blue);
    border-radius: 8px;
    color: var(--ligth);
    display: flex;
    font-family: var(--font-family);
    font-size: var(--md);
    justify-content: center;
    margin: 4px 0;
    padding: 8px;
    transition: all 0.5s ease;
    width: 70%;
}

.item__button span svg {
    height: var(--sm);
    margin-left: 12px;
}

.item__button:hover {
    background-color: var(--ligth-blue);
    cursor: pointer;
}

@media (min-width: 320px) {
    .banner{
        gap: 12px;
        grid-column: 1/5;
        text-align: center;
    }
    .banner__item {
        margin: 12px;
    }

    .item__image {
        width: 150px;
    }

    .item__title{
        font-size: var(--sm);
    }
}

@media (min-width: 720px) {
    .banner{
        grid-column: 2/8;
        margin: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        text-align: center;
    }

    .item__image {
        width: 170px;
    }

    .item__title{
        font-size: var(--md);
    }
}

@media (min-width: 1024px) {
    .banner{
        grid-column: 2/12;
        margin: -12px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: stretch;
        gap: 32px;
        text-align: center;
    }
}