.banner__item {
    align-items: center;
    background-color: #ffff;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px;
}

.item__price {
    font-size: var(--sm);
    color: var(--dark-blue);
}


@media (min-width: 320px) {
    .banner{
        display:grid;
        gap: 24px;
        grid-template-columns: 1fr;
        padding: 32px;
        text-align: center;
    }

    .item__image {
        width: 100px;
    }

    .item__title{
        font-size: var(--sm);
    }
}

@media (min-width: 720px) {
    .banner{
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
        padding: 48px;
        text-align: center;
    }

    .item__image {
        width: 170px;
    }

    .item__title{
        font-size: var(--md);
    }
}

@media (min-width: 1024px) {
    .banner{
        gap: 32px;
        grid-template-columns: repeat(3, 1fr);
        padding: 60px;
    }
}