.artists__container, .albums__container {
    margin: 32px 0;
}

.menu__table {
    background-color: var(--white);
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 8px;
    margin: auto;
    width: 50%;
}

.menu__table th {
    font-size: var(--lg);
    padding: 16px;
    text-align: center;
}

.menu__table tr {
    border-bottom: 1px solid var(--gray);
}

.menu__table td {
    font-size: var(--md);
    padding: 12px;
    text-align: left;
}

.menu__table td img {
    border-radius: 50%;
    height: 64px;
    margin: auto;
    width: 64px;
}

.menu__add {
    text-align: center;
    margin: 24px;
}

.menu__sort {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin: 24px;
    margin-right: 15%;
}

.menu__sort select {
    border-radius: 8px;
    font-size: var(--sm);
    margin-left: 12px;
    margin-right: 12px;
    padding: 8px;
}

