.modal {
    background-color: rgba(0, 45, 64, 0.7);
    width: 100%;
    height: calc(100% + 150px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.modal__content {
    background-color: var(--white);
    border-radius: 20px;
    width: 500px;
    padding: 20px;
    position: absolute;
    top: 30%;
    left: calc(50% - 250px);
    animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);

    }
}