* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

:root {
  /* Font Sizes */
  --sm: 1.5rem;
  --md: 2rem;
  --lg: 2.5rem;
  --x-lg: 3rem;


  /* Colors */
  --dark-blue: #002D40;
  --ligth-blue: #1AA6B7;
  --dark-red: #FF414D;
  --ligth-red: #F56A79;
  --ligth: #e2eff3;

  --font-family: 'Lato', sans-serif;
}